#exclude .o File
*.o
#ignore .a files
*.a
!libsqlite3.a
!libsctool.a
!libcrypto.a
!lib_wlkpskm.a
!libpthread.a
!libz.a
!libiconv.a
!libhhhbca.a
!libhhkey.a
!libmsukapi.a
!libbarencode.a
!libJspInterface.a
#SSLLIB
!libaisino_pkcs11_engine.a
!libuniAcceptFramework.a
!libcurl.a
!libwt_hw.a
!libwt_pkcs11.a
!libwt_skf.a
!new_libwt_pkcs11.a
!arm-elf-cryptlib.a
!libcrypto.a
!libssl.a

*.tmp
*.gdb
*.m4
*.bak
*.ncb
*.opt
config.h
*.in
*.in~
*.log
*.status
configure
COPYING
depcomp
FCR.BIN
INSTALL
install-sh
Makefile
missing
stamp-h1
#exclude folder
.deps/
autom4te.cache/
awe4000r
*.dsw
*.dsp
*.positions
*.ncb
*.opt


